md-content
  md-toolbar
    div.md-toolbar-tools
      h2
        span Misas
      md-button(ng-href="/") Home
      md-button(ng-href="/parroquias/search") Search
      md-button(ng-href="/admin/") Admin
ui-view
