.md-whiteframe-2dp(layout="column", layout-padding)
  h2 Get all images from DHM for current set of Parroquias
  //p {{ fix.FixJob | json }}
  div 
    md-button(ng-click="fix.startJob()") Start Job
  .md-whiteframe-1dp(ng-if="fix.FixJob")
    div(layout="row")
      div(layout="column", flex="100")
        div
          strong Job name: 
          span {{ fix.FixJob.name }}
        div
          strong Job status: 
          span {{ fix.FixJob.status }}
        div
          strong Job stats
        div(layout="column")
          div
            strong Parroquias: 
            span {{ fix.FixJob.stats.numParroquias }}
          div
            strong Number of Parroquias updated:
            span {{ fix.FixJob.stats.numParroquiasWithImages }}
          div
            strong Number of Parroquias with images:
            span {{ fix.FixJob.stats.numParroquiasWithImagesUpdated }}
      div(flex)
  div
    p. 
      This fix job finds all of the parroquias with image urls and tries to
      get the images for all of them.
    
