div(layout="row", flex)
  md-sidenav.md-whiteframe-z2.md-sidenav-left(
    md-component-id='left', 
    md-is-locked-open="$mdMedia('gt-md')")
    md-toolbar
      h1.md-toolbar-tools(layout-align='center center') Admin
    md-content(layout='column', layout-align='start stretch', layout-fill)
      md-button(ui-sref='misas.admin.users', aria-label='admin users') users
      md-button(ui-sref='misas.admin.parroquias', aria-label='admin parroquias') parroquias
      md-button(ui-sref='admin.data-sources', aria-label='admin data sources') data sources
      md-button(ui-sref='admin.data-fixes', aria-label='admin data fixes') data fixes 
  div(flex, layout-margin)
    ui-view
    //
      md-list
        md-list-item.md-2-line
          .md-list-item-text 
            a(ui-sref="misas.admin.dhm-parse") dondehaymisa.com parsed output
        md-list-item.md-2-line
          .md-list-item-text 
            quieroiramisa.com parsed output
