div(layout="row", flex)
  md-sidenav.md-whiteframe-z2.md-sidenav-left(
    layout="column",
    md-component-id='left', 
    md-is-locked-open="$mdMedia('gt-sm')"
    )
    md-toolbar
      h1.md-toolbar-tools(layout-align='center center') Admin
    md-content(flex, layout='column', layout-align='start stretch', layout-fill)
      md-button(ui-sref='misas.admin.users', aria-label='admin users') users
      md-button(ui-sref='misas.admin.parroquias', aria-label='admin parroquias') parroquias
      md-button(ui-sref='misas.admin.sources', aria-label='admin data sources') data sources
      md-button(ui-sref='misas.admin.fixes', aria-label='admin data fixes') data fixes 
  div(flex, layout-margin)
    ui-view
