div(class="parroquias-search")
  //p {{ pssc | json }}
  h1 Parroquias Search
  form(novalidate)
    |Search: 
    input(type="search", ng-model="pssc.searchText")
    select(ng-model="pssc.searchOrder")
      option(value="1")  ascending
      option(value="-1") discending
  div(class="container")
  div(class="parroquias-results")
    table(class="table") 
      tr
        th Name
        th City
        th State
        th Type
        th Address
      tr(ng-repeat="parroquia in pssc.parroquias")
        td 
          a(ui-sref="parroquia({id: parroquia._id})") {{parroquia.name}}
        td {{parroquia.city.name}}
        td {{parroquia.state.name}}
        td {{parroquia.parroquia_type}}
        td {{parroquia.address}}
