md-toolbar
  div.md-toolbar-tools.md-whiteframe-5dp.move-up
    md-button(ui-sref='misas') Misas 
    md-button(ui-sref='misas.parroquias.search') Search
    login-buttons
    span(flex)
    md-button(ng-if='vm.checkIsRoot()', ui-sref="misas.admin") Admin
    md-button(ng-if='!vm.checkIsLoggedIn()', ui-sref="misas.login") Login 
    md-menu(ng-if='vm.checkIsLoggedIn()')
      md-button(ng-click='vm.openMenu($mdOpenMenu, $event)') 
        span(ng-if="vm.hasName()") {{ vm.currentUser.profile.name }}
        span(ng-if="!vm.hasName() && vm.hasEmail()") {{ vm.currentUser.emails[0].address }}
      md-menu-content
        md-menu-item
          md-button(ng-click='vm.logout()') Logout
        md-menu-item
          md-button Profile
//  span {{ vm.currentUser | json }}
